<% @homes.each do |home| %>

    <section class="home">
      <h1><%= home.title %></h1>

      <hr/>

      <%= render :partial => 'layouts/social', :locals => {:url => home_path, :share_text => "Um site sobre todos os bares de Uberlândia! Que legal!"} %>

      <%= image_tag home.main_image.url(:medium), :class => "main" %>

      <hr/>

      <div class="home-links" style="padding-left:460px">
        <%= image_tag home.gallery_image.url(:thumb)%>
        <h4>Fotos</h4>
      </div>

      <div class="home-links">
        <%= image_tag home.events_image.url(:thumb)%>
        <h4>Eventos</h4>
      </div>

      <div class="home-links">
        <%= image_tag home.contact_image.url(:thumb)%>
        <h4>Contato</h4>
      </div>

      <div>
        <%= image_tag home.follow_fb_image.url(:thumb), :class=>"home-links" %>
        <%= image_tag home.follow_tw_image.url(:thumb), :class=>"home-links", :style => "padding-top:0; padding-bottom:0;" %>
        <h4 class="home-links" style="padding-top:5px">Siga-nos!</h4>
      </div>

      <hr/>

      <h4>Bares em Destaque</h4>
      <% @general_informations.each_with_index do |destaque, index| %>

          <% if index <= 7 %>
              <div class="home-destaques">
                <%= image_tag destaque.main_image.url(:thumb) %>
                <h5><%= destaque.name %></h5>
              </div>
          <% else %>
              <% break %>
          <% end %>

      <% end %>

      <hr/>

    </section>

<% end %>