<% @general_informations.each do |information| %>

    <section id="general-information">
      <h1><%= information.name %></h1>

      <%= image_tag information.main_image.url(:home) %>

      <h3> <%= information.street %>, <%= information.number %> - <%= information.province %> - <%= information.complement %></h3>
      <h4> <%= information.city %> - <%= information.state %> - <%= information.country_bar %> - CEP: <%= information.cep %></h4>


      <h5> Telefone: <%= information.phone %></h5>
    </section>

<% end %>